flows/Contact_Study_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Record</name>
        <label>Check Record</label>
        <locationX>402</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Update_Blank_Study_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_record1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Study_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Check record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact Study Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Study Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Study_Record</name>
        <label>Get Study Record</label>
        <locationX>232</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Study_Participant_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Studies__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Blank_Study_Id</name>
        <label>Update Blank Study Id</label>
        <locationX>413</locationX>
        <locationY>527</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Study_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Study_Id__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>584</locationX>
        <locationY>342</locationY>
        <inputAssignments>
            <field>Study_Id__c</field>
            <value>
                <elementReference>Get_Study_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Study_Record</targetReference>
        </connector>
        <filterFormula>({!$Profile.Name} = &apos;Research Coordinator - TGen&apos; || {!$Profile.Name} = &apos;System Administrator&apos; ) &amp;&amp; ({!$Record__Prior.Study_Participant_Id__c} &lt;&gt;  {!$Record.Study_Participant_Id__c})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
