flows/PGI_Version_and_Game_Attempts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Count_PGI_Records</name>
        <label>Count PGI Records</label>
        <locationX>736</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>Count_of_PGI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contacts_with_Same_Game_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Game_Attempt_Field</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_PGI_Game_Attempt_Field</name>
        <label>Update PGI Game Attempt Field</label>
        <locationX>727</locationX>
        <locationY>510</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Game_Attempt_for_First_PGI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_of_PGI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Game_Attempt_for_First_PGI</targetReference>
            </connector>
            <label>Game Attempt for First PGI</label>
        </rules>
        <rules>
            <name>Update_Game_Attempts_for_Increment_PGI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_of_PGI</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PGI_Game_Attempts</targetReference>
            </connector>
            <label>Update Game Attempts for Increment PGI</label>
        </rules>
    </decisions>
    <description>PGI Version filed and Game attempts value automation</description>
    <environments>Default</environments>
    <formulas>
        <name>Count_of_PGI_Contact</name>
        <dataType>Number</dataType>
        <expression>{!Count_of_PGI} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PGI Version and Game Attempts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PGI Version and Game Attempt Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contacts_with_Same_Game_Name</name>
        <label>Contacts with Same Game Name</label>
        <locationX>566</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_PGI_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Game_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Info__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Game_Attempt_for_First_PGI</name>
        <label>Update Game Attempt for First PGI</label>
        <locationX>460</locationX>
        <locationY>512</locationY>
        <inputAssignments>
            <field>Game_Attempt__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Game_Attempts</name>
        <label>Update PGI Game Attempts</label>
        <locationX>990</locationX>
        <locationY>507</locationY>
        <inputAssignments>
            <field>Game_Attempt__c</field>
            <value>
                <elementReference>Count_of_PGI_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Version_Field_Update</name>
        <label>Version Field Update</label>
        <locationX>566</locationX>
        <locationY>187</locationY>
        <connector>
            <targetReference>Contacts_with_Same_Game_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Version__c</field>
            <value>
                <elementReference>$Record.Game_Name__r.Version__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>83</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Version_Field_Update</targetReference>
        </connector>
        <object>Participant_Game_Info__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Count_of_PGI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Fetch_Game_Details</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Game_Detail__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant_Game_Info__c</objectType>
    </variables>
    <variables>
        <name>GameNamechecking</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Game_Detail__c</objectType>
    </variables>
    <variables>
        <name>Gamenamestatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Game_Detail__c</objectType>
    </variables>
</Flow>
