flows/PGI_Total_Reaction_Time.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Reaction_Time_In_Variable</name>
        <label>Assign Reaction Time In Variable</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalReactionTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_PGR_Records.Reaction_Time_in_ms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PGR_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>PGI Total Reaction Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PGR Total Reaction Time</label>
    <loops>
        <name>Loop_Through_PGR_Records</name>
        <label>Loop Through PGR Records</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>TotalReactionTimeInMS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Reaction_Time_In_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PGI_Total_Reaction_Time</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Total_Reaction_Time</name>
        <label>Get Total Reaction Time</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_PGR_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Practice_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <object>Participant_Game_Response__c</object>
        <outputReference>TotalReactionTimeInMS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Reaction_Time_in_ms__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PGI_Total_Reaction_Time</name>
        <label>Update PGI Total Reaction Time</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_Reaction_Time__c</field>
            <value>
                <elementReference>TotalReactionTime</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Total_Reaction_Time</targetReference>
        </connector>
        <object>Participant_Game_Response__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalReactionTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalReactionTimeInMS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Participant_Game_Response__c</objectType>
    </variables>
</Flow>
