flows/PGR_Removal_From_PGI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_For_Record_10</name>
        <label>Assign For Record 10</label>
        <locationX>2690</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound10</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Record_11</name>
        <label>Assign For Record 11</label>
        <locationX>2954</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound11</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_11</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_Record_2</name>
        <label>Assign for Record 2</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_for_Round_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Record_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Record_3</name>
        <label>Assign For Record 3</label>
        <locationX>842</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound3</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Record_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Record_4</name>
        <label>Assign For Record 4</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound4</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Record_5</name>
        <label>Assign For Record 5</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound5</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Record_6</name>
        <label>Assign For Record 6</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound6</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Record_7</name>
        <label>Assign For Record 7</label>
        <locationX>1898</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound8</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Record_8</name>
        <label>Assign For Record 8</label>
        <locationX>2162</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound8</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Record_9</name>
        <label>Assign For Record 9</label>
        <locationX>2426</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound9</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Round_0</name>
        <label>Assign For Round 0</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound0</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Record_For_Round_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Round_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Round_1</name>
        <label>Assign For  Round 1</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectForRound1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Round_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Record_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_For_Stack</name>
        <label>Assign For Stack</label>
        <locationX>3218</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>TotalAttemptsForStack</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_For_Stack</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Stack_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Correct_Answers</name>
        <label>Total Correct Answers</label>
        <locationX>1766</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalCorrectAnswers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Total_Answers_Correct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Question_Attempted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Question_Attempted</name>
        <label>Total Question Attempted</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NoOfQuestionsAnswered</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Total_Question_attempted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PGI_Total_Correct_Answers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Participant_Game_Response_Total</name>
        <label>Participant Game Response Total</label>
        <locationX>1766</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Total_Correct_For_Round_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_For_Round_0</targetReference>
            </connector>
            <label>Total Correct For Round 0</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_1</targetReference>
            </connector>
            <label>Total Correct For Round 1</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_for_Round_2</targetReference>
            </connector>
            <label>Total Correct For Round 2</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Correct_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_3</targetReference>
            </connector>
            <label>Total Correct For Round 3</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_4</targetReference>
            </connector>
            <label>Total Correct For Round 4</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_5</targetReference>
            </connector>
            <label>Total Correct For Round 5</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_6</targetReference>
            </connector>
            <label>Total Correct For Round 6</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_7</targetReference>
            </connector>
            <label>Total Correct For Round 7</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_8</targetReference>
            </connector>
            <label>Total Correct For Round 8</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_9</targetReference>
            </connector>
            <label>Total Correct For Round 9</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_10</targetReference>
            </connector>
            <label>Total Correct For Round 10</label>
        </rules>
        <rules>
            <name>Total_Correct_For_Round_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Correct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Round_11</targetReference>
            </connector>
            <label>Total Correct For Round 11</label>
        </rules>
        <rules>
            <name>Total_Attempts_For_Stack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STACKS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Records_For_Stack</targetReference>
            </connector>
            <label>Total Attempts For Stack</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PGR Removal From PGI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PGR Removal From PGI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_For_Round_0</name>
        <label>Get Record For Round 0</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Round_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_1</name>
        <label>Get Records For Round 1</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Round_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_10</name>
        <label>Get Records For Round 10</label>
        <locationX>2690</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_11</name>
        <label>Get Records For Round 11</label>
        <locationX>2954</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>11</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_for_Round_2</name>
        <label>Get Records for Round 2</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_for_Record_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_3</name>
        <label>Get Records For Round 3</label>
        <locationX>842</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_4</name>
        <label>Get Records For Round 4</label>
        <locationX>1106</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_5</name>
        <label>Get Records For Round 5</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_6</name>
        <label>Get Records For Round 6</label>
        <locationX>1634</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_7</name>
        <label>Get Records For Round 7</label>
        <locationX>1898</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_8</name>
        <label>Get Records For Round 8</label>
        <locationX>2162</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>8</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Round_9</name>
        <label>Get Records For Round 9</label>
        <locationX>2426</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Record_9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_For_Stack</name>
        <label>Get Records For Stack</label>
        <locationX>3218</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_For_Stack</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Round__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STACKS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Total_Answers_Correct</name>
        <label>Get Total Answers Correct</label>
        <locationX>1766</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Total_Question_attempted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Correct__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Practice_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Total_Question_attempted</name>
        <label>Get Total Question attempted</label>
        <locationX>1766</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_Correct_Answers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Practice_Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Participant_Game_InfoID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Participant_Game_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PGI_Question_Attempted_Value</name>
        <label>Update PGI Question Attempted Value</label>
        <locationX>1766</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Participant_Game_Response_Total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_No_of_Question_Attempted__c</field>
            <value>
                <elementReference>NoOfQuestionsAnswered</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Record_1</name>
        <label>Update PGI Record 1</label>
        <locationX>314</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_1__c</field>
            <value>
                <elementReference>TotalCorrectForRound1</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Record_2</name>
        <label>Update PGI Record 2</label>
        <locationX>578</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_2__c</field>
            <value>
                <elementReference>TotalCorrectForRound2</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Record_3</name>
        <label>Update PGI Record 3</label>
        <locationX>842</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_3__c</field>
            <value>
                <elementReference>TotalCorrectForRound3</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_0</name>
        <label>Update PGI Round 0</label>
        <locationX>50</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_0__c</field>
            <value>
                <elementReference>TotalCorrectForRound0</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_10</name>
        <label>Update PGI Round 10</label>
        <locationX>2690</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_10__c</field>
            <value>
                <elementReference>TotalCorrectForRound10</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_11</name>
        <label>Update PGI Round 11</label>
        <locationX>2954</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_11__c</field>
            <value>
                <elementReference>TotalCorrectForRound11</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_4</name>
        <label>Update PGI Round 4</label>
        <locationX>1106</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_4__c</field>
            <value>
                <elementReference>TotalCorrectForRound4</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_5</name>
        <label>Update PGI Round 5</label>
        <locationX>1370</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_5__c</field>
            <value>
                <elementReference>TotalCorrectForRound5</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_6</name>
        <label>Update PGI Round 6</label>
        <locationX>1634</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_6__c</field>
            <value>
                <elementReference>TotalCorrectForRound6</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_7</name>
        <label>Update PGI Round 7</label>
        <locationX>1898</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_7__c</field>
            <value>
                <elementReference>TotalCorrectForRound7</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_8</name>
        <label>Update PGI Round 8</label>
        <locationX>2162</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_8__c</field>
            <value>
                <elementReference>TotalCorrectForRound8</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Round_9</name>
        <label>Update PGI Round 9</label>
        <locationX>2426</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Total_correct_for_Round_9__c</field>
            <value>
                <elementReference>TotalCorrectForRound9</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Stack_Value</name>
        <label>Update PGI Stack Value</label>
        <locationX>3218</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_Number_of_attempts_for_STACKS__c</field>
            <value>
                <elementReference>TotalAttemptsForStack</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PGI_Total_Correct_Answers</name>
        <label>Update PGI Total Correct Answers</label>
        <locationX>1766</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_PGI_Question_Attempted_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Participant_Game_InfoID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Of_No_Of_Correct_Answered__c</field>
            <value>
                <elementReference>TotalCorrectAnswers</elementReference>
            </value>
        </inputAssignments>
        <object>Participant_Game_Info__c</object>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Total_Answers_Correct</targetReference>
        </connector>
        <object>Participant_Game_Response__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NoOfQuestionsAnswered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ReactionTimeinMS</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ReactionTimeInMS1</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAttemptsForStack</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalCorrectAnswers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound0</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound10</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound11</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound4</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound5</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound6</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound7</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound8</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCorrectForRound9</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalReactiontime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalReactionTimeMS</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalReactionTimeMS1</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
