flows/Shipment_Status_Email_Trigger.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invalid_Address_English</name>
        <label>Invalid Address English</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Shipping_Detail__c.Shipment_status_Invalid_Address</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipping_Detail__c.Shipment_status_Invalid_Address</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Invalid_Address_Spanish</name>
        <label>Invalid Address Spanish</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Shipping_Detail__c.Shipment_status_Invalid_Address_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipping_Detail__c.Shipment_status_Invalid_Address_Spanish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Kit_Sent_English</name>
        <label>Kit Sent English</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Shipping_Detail__c.Shipment_Status_sent_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipping_Detail__c.Shipment_Status_sent_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Kit_Sent_Spanish</name>
        <label>Kit Sent Spanish</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Shipping_Detail__c.Shipment_Status_sent_email_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipping_Detail__c.Shipment_Status_sent_email_Spanish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Received_English</name>
        <label>Received English</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>Shipping_Detail__c.Sample_Received_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipping_Detail__c.Sample_Received_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Received_Spanish</name>
        <label>Received Spanish</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>Shipping_Detail__c.Sample_Received_email_alert_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Shipping_Detail__c.Sample_Received_email_alert_Spanish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Language</name>
        <label>Check Language</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kit_Sent_English</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Español</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kit_Sent_Spanish</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_language1</name>
        <label>Check language</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Address_English</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>Spanish1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Español</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Address_Spanish</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Language2</name>
        <label>Check Language</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>English2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Received_English</targetReference>
            </connector>
            <label>English</label>
        </rules>
        <rules>
            <name>Spanish2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Id__r.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Español</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Received_Spanish</targetReference>
            </connector>
            <label>Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shipment_Status</name>
        <label>Check Shipment Status</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipment_Status_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Language</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Shipment Status Sent</label>
        </rules>
        <rules>
            <name>Shipment_Status_Invalid_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_language1</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Shipment Status Invalid Address</label>
        </rules>
        <rules>
            <name>Shipment_Status_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Language2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Shipment Status Received</label>
        </rules>
    </decisions>
    <description>Sent an auto email based on shipment status (Sent, Invalid Address, Received)</description>
    <environments>Default</environments>
    <formulas>
        <name>After30days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} + 5</expression>
    </formulas>
    <interviewLabel>Email Trigger For Shipment Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipment Status Email Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Shipment_Status</targetReference>
        </connector>
        <filterFormula>AND({!$Record.Campaign__r.Name} = &apos;DBS&apos;, OR(ISPICKVAL({!$Record.Shipment_Status__c}, &apos;Sent&apos;), ISPICKVAL({!$Record.Shipment_Status__c}, &apos;Invalid Address&apos;), ISPICKVAL({!$Record.Shipment_Status__c}, &apos;Received&apos;)))</filterFormula>
        <object>Shipping_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
