flows/Update_Disenrollment_Date.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>UpdateTodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Disenrollment Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Disenrollment Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Disenrollment_Date</name>
        <label>Update Disenrollment Date</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project2_Disenrollment_Date__c</field>
            <value>
                <elementReference>$Record.Project2_Disenrollment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isProject2_Participant__c</field>
            <value>
                <elementReference>$Record.isProject2_Participant__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Disenrollment_Date_Today</name>
        <label>Update Disenrollment Date Today</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Disenrollment_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project2_Disenrollment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Project2_Disenrollment_Date__c</field>
            <value>
                <elementReference>UpdateTodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Disenrollment_Date_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>isProject2_Participant__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isProject2_Participant__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
